#header{
  background-color: #C0C0C0;
  padding-top: 5px;
  padding-bottom:5px;

}
#header li{
display: inline-block;
list-style-type: none;
width: 30%;

}
#header a{
  color: white;
  text-decoration: none;
  font-size: 40px;

}
#header a:hover{
color:#FFD700;
text-decoration:underline;
}
.top_img img{
  width: 100%;
}
#template img{
  width: 100%;
}
.detail_title{
  font-size: 60px;
  margin-left: 30px;
  color: #C0C0C0;

}
.detail_title a{
 color: black;
}
#enter_search a{
  font-size: 70px;
  background-color: #FFD700;
  color: white;
  border-radius: 20px;
  padding: 20px;
}
#enter_search a:hover{
  font-size: 70px;
  background-color: #FFA500;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  padding: 20px;
}
.icon3{
  font-size: 50px;
  background-color: #FFD700;
  color: white;
  padding: 10px;
  border-radius: 20px;
  /*
  background-color: #006600;
  background-color: #FFD700;
  background-color: red;
  */
}
.icon1{
  font-size: 50px;
  color: white;
  padding: 10px;
  border-radius: 20px;
  background-color: #006600;
  */
}
.icon2{
  font-size: 50px;
  color: white;
  padding: 10px;
  border-radius: 20px;
  background-color: #00ECFF;
}
.icon4{
  font-size: 50px;
  color: white;
  padding: 10px;
  border-radius: 20px;
  background-color: red;
}
.icon0{
  font-size: 50px;
  color: white;
  padding: 0px;
  border-radius: 20px;
  background-color: black;
}
.text_store{
  margin-left: 50px;
}
.detail_text{
  margin-left: 50px;
  font-size: 25px;
  background-color:#C0C0C0;
  padding: 12px;
  border-radius: 20px;
  color: white;
}
.return_top a{
  color:  #C0C0C0;
}
.return_top a:hover{
color: #FFD700;
text-decoration:none;
}
footer{
  background-color: #C0C0C0;
  color: white;
}
select{
  width: 50%;
  font-size: 40px;
}
h1{
  font-size: 50px;
}
li{
  font-size: 40px;
}
/*------------------------------別ページ-------------------------------*/
.ichiran_detail ul{
  list-style-type: none;
}
.ichiran_detail a{
  color:  #C0C0C0;
  text-decoration: none;
  font-size: 50px;
}
.ichiran_detail a:hover{
color: #FFD700;
text-decoration:underline;
}
/*------------------------------別ページ-------------------------------*/
.title_search{
  font-size: 40px;
  color: #C0C0C0;
}
.search_text a{
  color:  #C0C0C0;
  font-size: 60px;
}
.search_text a:hover{
  color: #FFD700;
}
.search_text{
  list-style-type: none;
}
.detail_shousai{
  font-size: 50px;
  color: #C0C0C0;
}
